server {
    server_name {{ domain }};
    root {{ webroot }};

    location / {
        try_files $uri $uri/ $uri.html =404;
	}

    listen [::]:443 ssl http2;
    listen 443 ssl http2;
    ssl_certificate /var/lib/acme/live/{{ domain }}/fullchain; # managed by acmetool
    ssl_certificate_key /var/lib/acme/live/{{ domain }}/privkey; # managed by acmetool
}
